<div class="container mt-4">
  <div class="row justify-content-center">
    <h1>MOTD Times</h1>
  </div>
  <div class="row justify-content-center">
    <div class="form-group episode mb-3">
      <%= select_tag :time_zone, options_for_select(ActiveSupport::TimeZone.all.sort, @timezone), class: 'form-control', id: 'time_zones' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <h4>Upcoming</h4>
  </div>
  <div class="row justify-content-center">
    <ul class="list-unstyled">
      <% @future.each do |episode| %>
        <li class="episode">
          <%= image_tag "motd#{episode.show}.jpg", alt: "alttext", width: '32px', style: 'margin-right:8px' %>
          <%= episode.time.strftime('%A, %b %e, %l:%M %p') %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row justify-content-center">
    <h4>Past</h4>
  </div>
  <div class="row justify-content-center">
    <ul class="list-unstyled">
      <% @past.each do |episode| %>
        <li class="episode">
          <%= image_tag "motd#{episode.show}.jpg", alt: "alttext", width: '32px', style: 'margin-right:8px' %>
          <%= episode.time.strftime('%A, %b %d') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>